 .div1 {
    width: 300px;
    height: 100px;
    border: 2px solid blue;
    padding-top: 0%;
  }
  
  .div2 {
    width: 300px;
    height: 100px;  
    padding: 100px;
    border: 2px solid red;
    padding-top: 0%;
  }